<div [class.my-5]="special" class="position-relative box-wrapper rounded-alot">
  <!-- animated rainbow behind -->
  <div *ngIf="special" class="highlight"></div>

  <div class="bg-white rounded-alot">
    <div class="d-flex justify-content-between align-items-center p-3">
      <a
        target="_blank"
        [href]="'https://etherscan.io/address/' + data.address"
        class="text-break text-center text-reset fs-5"
      >
        {{ data.address.slice(0, 8) + "..." + data.address.slice(-6) }}
      </a>
      <a
        *ngIf="!special"
        class="text-decoration-none text-reset"
        data-bs-toggle="collapse"
        [href]="'#_' + data.address"
        (click)="isClosed = !isClosed"
      >
        <div *ngIf="isClosed">
          <i class="bi bi-arrows-expand"></i>
          Open
        </div>
        <div *ngIf="!isClosed">
          <i class="bi bi-arrows-collapse"></i>
          Close
        </div>
      </a>
    </div>

    <div class="collapse show" [id]="'_' + data.address + (special ? 'x' : '')">
      <div class="row row-cols-1 row-cols-md-3 g-3 p-3">
        <div class="col">
          <div class="bg-eboxdark rounded-alot text-white">
            <div class="pt-3 px-3">Balance</div>
            <div class="pb-3 px-3 text-light fs-4">
              {{ data.balance | toFixed: 0 }} EBOX
            </div>
          </div>
        </div>
        <div class="col">
          <div class="bg-eboxdark rounded-alot text-white">
            <div class="pt-3 px-3">Reward</div>
            <div class="pb-3 px-3 text-light fs-4">
              {{ data.reward | toFixed: 0 }} EBOX
            </div>
          </div>
        </div>
        <div class="col">
          <div class="bg-eboxdark rounded-alot text-white">
            <div class="pt-3 px-3">APY</div>
            <div class="pb-3 px-3 text-light fs-4">
              {{ data.apy | toFixed: 0 }}%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
