<app-body-bg-changer [imgSrc]="'assets/img/staking.jpg'"></app-body-bg-changer>

<div class="main py-5 px-3">
  <!-- header -->
  <header class="container-medium text-center mb-5">
    <h1>Staking rewards</h1>
    <p class="lead">
      To support those who support us, ethbox offers staking rewards for the
      first 4 years after the token generation event for everyone holding
      EBOX tokens.
    </p>
    <p>
      For details, find our staking model explained in this <a class="text-reset" href="https://ethbox.medium.com/introducing-ebox-staking-rewards-4c65c07fc89d" target="_blank">Medium article</a>.
    </p>
    
    <div *ngIf="selectedAccount" class=" py-3 fw-lighter">
      <p>Use the switch to choose where to claim your staking rewards: either <b>Ethereum</b> or <b>Binance Smart Chain</b>!<br><i>(Default in case of no choice: Ethereum)</i></p>

      <div *ngIf="selectedNetwork !== null">
        <input type="checkbox" name="checkbox" class="switch" [checked]="selectedNetwork" #selectNetworkCheckbox (input)="rewardsToChain(selectNetworkCheckbox)">
      </div>

      <!-- <div class="d-grid d-md-flex justify-content-center gap-2">
        <button 
          class="btn btn-eboxprimary rounded-alot"
          (click)="rewardsToChain(0)">
          Get future rewards on Ethereum
        </button>
        <button 
          class="btn btn-eboxprimary rounded-alot"
          (click)="rewardsToChain(1)">
          Get future rewards on BSC
        </button>
      </div> -->
    </div>

  </header>
  <!-- end of header -->

  <!-- message -->
  <div *ngIf="message && !selectedAccount" class="container-medium text-center">
    <h2>{{ message }}</h2>
  </div>
  <!-- end of message -->

  <!-- reward -->
  <div *ngIf="selectedAccount" class="container-medium">

    <div class="box-wrapper position-relative">

      <!-- animated rainbow behind -->
      <div class="highlight"></div>

      <div class="bg-lightalpha rounded-alot p-3">

        <header class="d-grid gap-2 text-center d-md-flex align-items-md-center justify-content-md-between mb-3">
          <div class="fs-4 text-truncate p-3">Hello {{ selectedAccount }}!</div>
          <button
            class="btn bgn-lg btn-eboxprimary rounded-alot text-uppercase"
            [disabled]="(!userRewardContract || userRewardContract < 1) ? 'disabled' : null"
            (click)="contractServ.claimReward()"
          >
            <div>Claim</div>
            <div>{{ userRewardContract | toFixed:2 }} EBOX</div>
          </button>
        </header>

        <div *ngIf="message && !userRewardObjAPI" class="container-medium text-center">
          <h4>{{ message }}</h4>
        </div>

        <div *ngIf="userRewardObjAPI" class="bg-eboxdark text-white p-3 rounded-alot shadow">

          <div class="d-grid gap-2 text-center d-md-flex align-items-md-center justify-content-md-between mb-3">
            <div>Staking rewards are shown as if payday was on the selected day.</div>

            <!-- pagination -->
            <ul class="pagination justify-content-center mb-0">
              <li class="page-item">
                <a
                  (click)="$event.preventDefault(); onPaginationPreviousClick()"
                  class="bg-light page-link rounded-alot-start"
                  href="#"
                  >&laquo;</a
                >
              </li>
              <li class="page-item disabled">
                <a class="bg-lightalpha page-link" href="#" tabindex="-1"
                  >{{ monthsNames[pageMonth] }} {{ pageDate }}</a
                >
              </li>
              <li class="page-item">
                <a
                  (click)="$event.preventDefault(); onPaginationNextClick()"
                  class="bg-light rounded-alot-end page-link"
                  href="#"
                  >&raquo;</a
                >
              </li>
            </ul>
            <!-- end of pagination -->
          </div>

          <div class="row row-cols-1 row-cols-md-3 g-3 mb-3">
            <div class="col">
              <div class="p-3 border border-secondary rounded-alot">
                <div>Balance in EBOX</div>
                <div class="fs-5">{{ userRewardObjAPI.balance | toFixed:2 }}</div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border border-secondary rounded-alot">
                <div>Reward in EBOX</div>
                <div class="fs-5">{{ userRewardObjAPI.reward | toFixed:2 }}</div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border border-secondary rounded-alot">
                <div>APY</div>
                <div class="fs-5">{{ userRewardObjAPI.apy | toFixed:2 }}%</div>
              </div>
            </div>
          </div>

          <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col">
              <div class="p-3 border border-secondary rounded-alot">
                <div>DuckDAO Bonus</div>
                <div class="fs-5">{{ userRewardObjAPI.bonus_duck === '1' ? 'Yes' : 'No' }}</div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border border-secondary rounded-alot">
                <div>Liquidity Provider Bonus</div>
                <div class="fs-5">{{ userRewardObjAPI.bonus_lp === '1' ? 'Yes' : 'No' }}</div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border border-secondary rounded-alot">
                <div>Long-term Holder Months</div>
                <div class="fs-5">{{ userRewardObjAPI.bonus_long_term_months }}</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- end of reward -->
</div>
