<app-password-strength-visualizer
  [data]="{
    img: 'assets/img/send.jpg',
    bg: 'assets/img/bg-blob-emerald.jpg'
  }"
></app-password-strength-visualizer>

<div class="main centerer py-5 px-3">
  <div class="container-small">
    <!-- swapper -->
    <div class="bg-lightalpha rounded-alot shadow-lg">
      <div class="align-items-center d-flex p-3">
        <div class="flex-grow-1">
          <h4>
            Send
            <i class="bi bi-box"></i>
          </h4>
          <small class="text-muted"
            >Safely send ETH and ERC-20 tokens through ethbox. Only the recipient will be able to retrieve the funds using the correct passphrase.</small
          >
        </div>
        <a href="#" [routerLink]="['/boxes', 'sent']" class="btn btn-lg">
          <i class="bi bi-clock-history"></i>
        </a>
      </div>
      <div class="d-flex flex-column p-3">
        <!-- recipient input -->
        <div class="p-3 bg-eboxdark mb-3 rounded-alot text-white">
          <label for="recipient-input" class="w-100">
            Recipient
          </label>
          <div class="d-flex">
            <input
              #recipientInput
              (input)="recipient = recipientInput.value; syncButtonFunctionality()"
              id="recipient-input"
              class="flex-grow-1 me-3 input-nostyle"
              type="text"
              placeholder="Insert recipient address"
              [disabled]="
                !isAppReady || (loadingIndicatorServ.isLoading$ | async) ? 'disabled' : null
              "
            />
            <app-address-book
              (onAddressSelected)="
                recipient = $event.address;
                recipientInput.value = $event.address;
                syncButtonFunctionality()
              "
            ></app-address-book>
          </div>
          <small class="{{ recipientInputColor }}">{{ recipientInputText }}</small>
        </div>
        <!-- end of recipient input -->

        <!-- passphrase input -->
        <div class="p-3 bg-eboxdark mb-3 rounded-alot text-white">
          <label for="password-input" class="w-100">
            Passphrase
          </label>
          <div class="d-flex">
            <input
              #passwordInput
              (input)="password = passwordInput.value; syncButtonFunctionality()"
              id="password-input"
              class="flex-grow-1 me-3 input-nostyle"
              type="password"
              placeholder="Choose a passphrase"
              [disabled]="
                !isAppReady || (loadingIndicatorServ.isLoading$ | async) ? 'disabled' : null
              "
            />
            <button
              (mousedown)="passwordInput.setAttribute('type', 'text')"
              (mouseup)="passwordInput.setAttribute('type', 'password')"
              [disabled]="
                !isAppReady || (loadingIndicatorServ.isLoading$ | async) ? 'disabled' : null
              "
              class="btn text-white"
            >
              <i class="bi bi-eye"></i>
            </button>
          </div>
          <small class="d-flex gap-1">
            <div class="pass-rect-strength d-none" style="background-color: red; width: 15px; height: 5px;"></div>
            <div class="pass-rect-strength d-none" style="background-color: orange; width: 15px; height: 5px;"></div>
            <div class="pass-rect-strength d-none" style="background-color: yellow; width: 15px; height: 5px;"></div>
            <div class="pass-rect-strength d-none" style="background-color: greenyellow; width: 15px; height: 5px;"></div>
            <div class="pass-rect-strength d-none" style="background-color: green; width: 15px; height: 5px;"></div>
          </small>
        </div>
        <!-- end of passphrase input -->

        <!-- send amount input -->
        <div class="p-3 bg-eboxdark mb-3 rounded-alot text-white">
          <label for="send-amount-input" class="w-100">
            Send amount
          </label>
          <div class="d-flex flex-column flex-lg-row my-2 my-lg-0 gap-2">
            <input
              #sendValueInput
              (input)="sendValue = sendValueInput.value; syncButtonFunctionality()"
              id="send-amount-input"
              class="input-nostyle flex-grow-1"
              type="text"
              placeholder="0.0"
              [disabled]="
                !isAppReady || (loadingIndicatorServ.isLoading$ | async) ? 'disabled' : null
              "
            />
            <app-token-selector
              (onTokenSelected)="sendTokenSelected = $event; syncButtonFunctionality()"
              (onTokenBalanceUpdated)="sendTokenBalance = $event; syncButtonFunctionality()"
            ></app-token-selector>
          </div>
          <small class="{{ sendValueInputColor }}">{{ sendValueInputText }}</small>
        </div>
        <!-- end of send amount input -->

        <div class="text-end">
          <a class="btn btn-outline-eboxprimary rounded-alot" data-bs-toggle="collapse" href="#advanced-options" (click)="setAdvancedUser()">
            Advanced options
            <i class="bi bi-three-dots-vertical"></i>
          </a>
        </div>

        <div class="collapse" [class.show]="isAdvancedUser" id="advanced-options">
          <div class="d-flex flex-column gap-3 border p-3 mt-3 rounded-alot">
            <!-- allow partial checkbox -->
            <!-- <div class="bg-eboxdark p-3 rounded-alot text-white">
              <input class="form-check-input me-3" type="checkbox" value="" id="allow-partial-checkbox">
              <label class="form-check-label" for="allow-partial-checkbox">
                Allow partial withdrawals
              </label>
            </div> -->
            <!-- end of allow partial checkbox -->

            <!-- timelock input -->
            <!-- <div class="bg-eboxdark rounded-alot text-white">
              <label for="date-lock-input" class="pt-3 px-3 w-100">
                Time available at
              </label>
              <div class="d-flex flex-column flex-lg-row gap-3 p-3">
                <input 
                  id="date-lock-input"
                  type="date"
                  class="border-0 p-2 rounded-alot"
                  style="outline: none">
                <input 
                  id="time-lock-input"
                  type="time"
                  class="border-0 p-2 rounded-alot"
                  style="outline: none">
              </div>
            </div> -->
            <!-- end of timelock input -->

            <!-- email address input -->
            <!-- <div class="bg-eboxdark rounded-alot text-muted">
              <label for="recipient-input" class="pt-3 px-3 w-100" style="opacity: .5">
                Notify email addresses (not yet available)
              </label>
              <div class="d-flex p-3 pt-1" style="opacity: .5">
                <ul class="list-unstyled flex-grow-1 mb-0">
                  <li>
                    <button class="btn text-muted">
                      <i class="bi bi-dash-circle-fill"></i>
                    </button>
                    abc@abc.com
                  </li>
                </ul>
                <button class="btn text-muted">
                  <i class="bi bi-plus-circle-fill"></i>
                </button>
              </div>
            </div> -->
            <!-- end of email address input -->

            <!-- privacy checkbox -->
            <div class="bg-eboxdark p-3 rounded-alot text-white">
              <input
                class="form-check-input me-3"
                type="checkbox"
                [checked]="isPrivacyEnabled ? 'checked' : ''"
                (change)="isPrivacyEnabled = !isPrivacyEnabled"
                id="privacy-checkbox"
              >
              <label class="form-check-label" for="privacy-checkbox">
                Enable privacy mode
              </label>
            </div>
            <!-- end of privacy checkbox -->

            <!-- keep inputs checkbox -->
            <div class="bg-eboxdark p-3 rounded-alot text-white">
              <input
                #keepInputsCheckbox
                class="form-check-input me-3"
                type="checkbox"
                [checked]="keepInputs ? 'checked' : ''"
                (change)="setKeepInputs(keepInputsCheckbox)"
                id="keep-inputs"
              >
              <label class="form-check-label" for="keep-inputs">
                Keep inputs after sending
              </label>
            </div>
            <!-- end of keep inputs checkbox -->
          </div>
        </div>

        <button
          class="btn btn-eboxprimary rounded-alot p-3 mt-3"
          (click)="buttonFunction()"
          [disabled]="
            isButtonDisabled || (loadingIndicatorServ.isLoading$ | async)
              ? 'disabled'
              : null
          "
        >
          {{ buttonMessage }}
        </button>
      </div>
    </div>
    <!-- end of swapper -->
  </div>
</div>
