<div
  class="align-items-center bar-height bg-lightalpha d-flex justify-content-between fixed-top px-3 shadow"
>
  <div>
    <div class="d-inline-block position-relative">
      <button
        class="btn me-3"
        data-bs-toggle="offcanvas"
        data-bs-target=".offcanvas"
        (click)="isMenuUntouched = false"
      >
        &#9776;
      </button>
      <div
        *ngIf="(contractServ.isAppReady$ | async) && (contractServ.isEthereumTestnet() || contractServ.isBinanceTestnet() || contractServ.isMaticTestnet()) && isMenuUntouched"
        class="position-absolute p-3 bg-eboxdark text-white"
        style="top: 33px!important; left: 33px!important; border-bottom-left-radius: 1rem; border-bottom-right-radius: 1rem; border-top-right-radius: 1rem; width: 18ch"
      >
        Test tokens here!
      </div>
    </div>
    <a 
      href="#"
      routerLink="/send">
      <img class="d-inline-block d-lg-none taptarget-height" src="assets/img/logo.png" />
      <img class="d-none d-lg-inline-block taptarget-height" src="assets/img/logo-text.png" />
    </a>
  </div>

  <!-- tabs nav -->
  <div class="d-none d-lg-flex gap-3 align-items-center position-absolute start-50 translate-middle-x">
    <div
      routerLinkActive="tab-active"
      class="btn btn-eboxprimary btn-skewed position-relative shadow"
    >
      <a
        href="#"
        routerLink="/send"
        class="stretched-link text-decoration-none text-uppercase text-reset"
      >
        Send
        <i class="bi bi-box"></i>
      </a>
    </div>
    <div
      routerLinkActive="tab-active"
      class="btn btn-eboxprimary btn-skewed position-relative shadow"
    >
      <a
        href="#"
        routerLink="/over-the-counter"
        class="stretched-link text-decoration-none text-uppercase text-reset"
      >
        <i class="bi bi-shuffle"></i>
        OTC
      </a>
    </div>
    <div
      routerLinkActive="tab-active"
      class="btn btn-eboxprimary btn-skewed position-relative"
      [class.shadow]="!areThereIncomingBoxes || wasIncomingTouched"
      [class.btn-eboxpulser]="areThereIncomingBoxes && !wasIncomingTouched"
      (click)="wasIncomingTouched = true"
    >
      <a
        href="#"
        routerLink="/boxes/received"
        class="stretched-link text-decoration-none text-uppercase text-reset"
      >
        <i class="bi bi-box-arrow-in-right"></i>
        Incoming
      </a>
    </div>
    <div
      routerLinkActive="tab-active"
      class="btn btn-eboxprimary btn-skewed position-relative shadow"
    >
      <a
        href="#"
        routerLink="/boxes/sent"
        class="stretched-link text-decoration-none text-uppercase text-reset"
      >
        Outgoing
        <i class="bi bi-box-arrow-right"></i>
      </a>
    </div>
  </div>
  <!-- end of tabs nav -->

  <!-- connect toggle -->
  <button
    *ngIf="!(contractServ.selectedAccount$ | async)"
    (click)="contractServ.connect()"
    class="btn btn-eboxprimary rounded-alot"
  >
    Connect
  </button>
  <button
    *ngIf="contractServ.selectedAccount$ | async"
    (click)="contractServ.disconnect()"
    class="btn btn-eboxprimary rounded-alot"
  >
    <img
      *ngIf="contractServ.isEthereum()"
      src="assets/img/ethereum.png"
      style="height: 21px"
    />
    <img
      *ngIf="contractServ.isBinance()"
      src="assets/img/binance.png"
      style="height: 21px"
    />
    <img
      *ngIf="contractServ.isMatic()"
      src="assets/img/matic.png"
      style="height: 21px"
    />
    {{ contractServ.selectedAccount$ | async | slice: 0:6 }}...
    <i class="bi bi-x-circle"></i>
  </button>
  <!-- end of connect toggle -->
</div>

<div
  class="offcanvas offcanvas-start bg-eboxdark text-white"
  style="max-width: 256px"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Navigation</h5>
    <button
      class="btn-close btn-close-white"
      data-bs-dismiss="offcanvas"
    ></button>
  </div>
  <div class="links overflow-auto">
    <a
      href="/"
      class="p-3 d-block text-uppercase text-reset text-decoration-none"
    >
      <i class="bi bi-box-arrow-left me-1"></i>
      Main Site
    </a>
    <a
      href="#"
      routerLink="/send"
      routerLinkActive="active"
      class="p-3 d-block text-uppercase text-reset text-decoration-none"
    >
      <i class="bi bi-box me-1"></i>
      Send
    </a>
    <a
      href="#"
      routerLink="/over-the-counter"
      routerLinkActive="active"
      class="p-3 d-block text-uppercase text-reset text-decoration-none"
    >
      <i class="bi bi-shuffle me-1"></i>
      Over the counter
    </a>
    <a
      href="#"
      routerLink="/boxes/received"
      routerLinkActive="active"
      class="p-3 d-block text-uppercase text-reset text-decoration-none"
    >
      <i class="bi bi-list-task me-1"></i>
      Incoming
    </a>
    <a
      href="#"
      routerLink="/boxes/sent"
      routerLinkActive="active"
      class="p-3 d-block text-uppercase text-reset text-decoration-none"
    >
      <i class="bi bi-clock-history me-1"></i>
      Outgoing
    </a>
    <a
      href="#"
      routerLink="/staking"
      routerLinkActive="active"
      class="p-3 d-block text-uppercase text-reset text-decoration-none"
    >
      <i class="bi bi-cash-stack me-1"></i>
      Staking
    </a>
    <a
      href="#"
      routerLink="/governance"
      routerLinkActive="active"
      class="p-3 d-block text-uppercase text-reset text-decoration-none"
    >
      <i class="bi bi-people me-1"></i>
      Governance
    </a>

    <!-- token dispenser -->
    <div *ngIf="(contractServ.isAppReady$ | async) && (contractServ.isEthereumTestnet() || contractServ.isBinanceTestnet() || contractServ.isMaticTestnet())" class="p-3">
      <div class="text-uppercase my-3 fst-italic">
        <div class="spinner-grow spinner-grow-sm text-danger me-1"></div>
        Get test tokens
        <i class="bi bi-arrow-down"></i>
      </div>
      <div class="d-grid gap-3 p-3">
        <button
          (click)="contractServ.give100TestToken(0)"
          class="btn btn-outline-eboxprimary rounded-alot"
        >
          <span class="fs-5 me-2 text-warning">100</span>
          Token AAA
        </button>
        <button
          (click)="contractServ.give100TestToken(1)"
          class="btn btn-outline-eboxprimary rounded-alot"
        >
          <span class="fs-5 me-2 text-warning">100</span>
          Token BBB
        </button>
        <button
          (click)="contractServ.give100TestToken(2)"
          class="btn btn-outline-eboxprimary rounded-alot"
        >
          <span class="fs-5 me-2 text-warning">100</span>
          Token CCC
        </button>
      </div>
    </div>
    <!-- end of token dispenser -->
  </div>
</div>
