<div
  class="align-items-center bar-height bg-lightalpha d-flex justify-content-between fixed-top px-3 shadow"
>
  <div>
    <a
      style="margin-left: 56px;"
      href="#"
      routerLink="/">
      <img class="d-inline-block d-lg-none taptarget-height" src="assets/img/logo.png" />
      <img class="d-none d-lg-inline-block taptarget-height" src="assets/img/logo-text.png" />
    </a>
  </div>

  <!-- tabs nav -->
  <div class="d-none d-lg-flex gap-3 align-items-center position-absolute start-50 translate-middle-x">
    <div
      routerLinkActive="tab-active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="btn btn-eboxprimary btn-skewed position-relative shadow"
    >
      <a
        href="#"
        routerLink="/"
        class="stretched-link text-decoration-none text-uppercase text-reset"
      >
        Send
        <i class="bi bi-box"></i>
      </a>
    </div>
    <div
      routerLinkActive="tab-active"
      class="btn btn-eboxprimary btn-skewed position-relative shadow"
    >
      <a
        href="#"
        routerLink="/over-the-counter"
        class="stretched-link text-decoration-none text-uppercase text-reset"
      >
        <i class="bi bi-shuffle"></i>
        OTC
      </a>
    </div>
    <div
      routerLinkActive="tab-active"
      class="btn btn-eboxprimary btn-skewed position-relative"
      [class.shadow]="!areThereIncomingBoxes || wasIncomingTouched"
      [class.btn-eboxpulser]="areThereIncomingBoxes && !wasIncomingTouched"
      (click)="wasIncomingTouched = true"
    >
      <a
        href="#"
        routerLink="/boxes/received"
        class="stretched-link text-decoration-none text-uppercase text-reset"
      >
        <i class="bi bi-box-arrow-in-right"></i>
        Incoming
      </a>
    </div>
    <div
      routerLinkActive="tab-active"
      class="btn btn-eboxprimary btn-skewed position-relative shadow"
    >
      <a
        href="#"
        routerLink="/boxes/sent"
        class="stretched-link text-decoration-none text-uppercase text-reset"
      >
        Outgoing
        <i class="bi bi-box-arrow-right"></i>
      </a>
    </div>
  </div>
  <!-- end of tabs nav -->

  <!-- connect toggle -->
  <button
    *ngIf="!(contractServ.selectedAccount$ | async)"
    (click)="contractServ.connect()"
    class="btn btn-eboxprimary rounded-alot"
  >
    Connect
  </button>
  <button
    *ngIf="contractServ.selectedAccount$ | async"
    (click)="contractServ.disconnect()"
    class="btn btn-eboxprimary rounded-alot"
  >
    <img
      [src]="
        contractServ.networkInfo(
          (contractServ.connection.chainId$ | async)
        ).baseTokenThumb
      "
      style="height: 21px"
    />
    {{ contractServ.selectedAccount$ | async | slice: 0:6 }}...
    <i class="bi bi-x-circle"></i>
  </button>
  <!-- end of connect toggle -->

  <div class="connection-status" *ngIf="contractServ.connection.isConnected$ | async">
    <span class="connection-status-heading">Network:</span>
    <span>{{ 
      contractServ.networkInfo(
        (contractServ.connection.chainId$ | async)
      ).name
    }}</span>
    <span class="connection-status-heading">Account:</span>
    <span>{{ contractServ.connection.selectedAccount$ | async }}</span>
    <span class="connection-status-heading">Balance:</span>
    <span class="d-flex align-items-center">
      {{ contractServ.connection.baseTokenBalance$ | async | toFixed:2 }}
      <img style="height: 1rem; margin-left: .5rem;" [src]="
        contractServ.networkInfo(
          (contractServ.connection.chainId$ | async)
        ).baseTokenThumb
      " alt="Base token thumb">
    </span>
  </div>
</div>
