<div class="container-fluid">
  <div class="bg-lightalpha row row-cols-1 row-cols-md-2">
    <div
      class="align-items-center bar-height col d-flex justify-content-center justify-content-md-start"
    >
      <a
        href="https://info.uniswap.org/token/0x33840024177a7daca3468912363bed8b425015c5"
        target="_blank"
        class="btn"
      >
        <img class="taptarget-height" src="assets/img/uniswap.png"
      /></a>
      <a
        href="https://exchange.pancakeswap.finance/#/swap?inputCurrency=0x33840024177a7daca3468912363bed8b425015c5"
        target="_blank"
        class="btn fs-5"
      >
        <img class="taptarget-height" src="assets/img/pancakeswap.png"
      /></a>
    </div>
    <div
      class="align-items-center bar-height col d-flex justify-content-center justify-content-md-end"
    >
      <a
        href="https://www.github.com/ethbox-official"
        target="_blank"
        class="btn fs-3"
      >
        <i class="bi bi-github"></i>
      </a>
      <a
        href="https://www.t.me/ethbox_official"
        target="_blank"
        class="btn fs-3 text-info"
      >
        <i class="bi bi-telegram"></i>
      </a>
      <a
        href="https://www.twitter.com/ethbox_official"
        target="_blank"
        class="btn fs-3 text-info"
      >
        <i class="bi bi-twitter"></i>
      </a>
    </div>
  </div>
</div>
