<app-password-strength-visualizer
  [data]="{
    img: 'assets/img/over-the-counter.jpg',
    bg: 'assets/img/bg-blob-emerald.jpg'
  }"
></app-password-strength-visualizer>

<div class="main py-5 px-3">
  <div class="container-small">
    <!-- swapper -->
    <div class="bg-lightalpha rounded-alot shadow-lg">
      <div class="align-items-center d-flex p-3">
        <div class="flex-grow-1">
          <h4>
            <i class="bi bi-shuffle"></i>
            Exchange
          </h4>
          <small class="text-muted"
            >Invite somebody to exchange tokens. The recipient will be able to
            accept requests via the Received tab</small
          >
        </div>
        <a href="#" routerLink="/boxes/sent" class="btn btn-lg">
          <i class="bi bi-clock-history"></i>
        </a>
      </div>
      <div class="d-flex flex-column p-3">
        <!-- recipient input -->
        <div class="bg-eboxdark mb-3 rounded-alot text-white">
          <label for="recipient-input" class="pt-3 px-3 w-100">
            Recipient
          </label>
          <div class="d-flex p-3 pt-1">
            <input
              #recipientInput
              (input)="recipient = recipientInput.value; syncButtonFunctionality()"
              id="recipient-input"
              class="flex-grow-1 me-3 input-nostyle"
              type="text"
              placeholder="Insert a recipient"
              [disabled]="
                !isAppReady ? 'disabled' : null
              "
            />
            <app-address-book
              (onAddressSelected)="
                recipient = $event.address;
                recipientInput.value = $event.address;
                syncButtonFunctionality()
              "
            ></app-address-book>
          </div>
        </div>
        <!-- end of recipient input -->

        <!-- passphrase input -->
        <div class="bg-eboxdark mb-3 rounded-alot text-white">
          <label for="password-input" class="pt-3 px-3 w-100">
            Passphrase
          </label>
          <div class="d-flex p-3 pt-1">
            <input
              #passwordInput
              (input)="password = passwordInput.value"
              id="password-input"
              class="flex-grow-1 me-3 input-nostyle"
              type="password"
              placeholder="Choose a passphrase"
              [disabled]="
                !isAppReady ? 'disabled' : null
              "
            />
            <button
              (mousedown)="passwordInput.setAttribute('type', 'text')"
              (mouseup)="passwordInput.setAttribute('type', 'password')"
              [disabled]="
                !isAppReady ? 'disabled' : null
              "
              class="btn text-muted"
            >
              <i class="bi bi-eye"></i>
            </button>
          </div>
        </div>
        <!-- end of passphrase input -->

        <!-- send amount input -->
        <div class="bg-eboxdark mb-3 rounded-alot text-white">
          <label for="send-amount-input" class="pt-3 px-3 w-100">
            Send amount
          </label>
          <div class="d-flex p-3 position-relative">
            <input
              #sendValueInput
              (input)="
                sendValue = sendValueInput.value; syncButtonFunctionality()
              "
              id="send-amount-input"
              class="input-nostyle w-100"
              type="text"
              placeholder="0.0"
              [disabled]="
                !isAppReady ? 'disabled' : null
              "
            />
            <app-token-selector
              class="position-absolute end-0 bottom-0 me-3 mb-3"
              (onTokenSelected)="sendTokenSelected = $event; syncButtonFunctionality()"
              (onTokenBalanceUpdated)="sendTokenBalance = $event; syncButtonFunctionality()"
            ></app-token-selector>
          </div>
        </div>
        <!-- end of send amount input -->

        <!-- request amount input -->
        <div class="bg-eboxdark mb-3 rounded-alot text-white">
          <label for="request-amount-input" class="pt-3 px-3 w-100">
            Request amount
          </label>
          <div class="d-flex p-3 position-relative">
            <input
              #requestValueInput
              (input)="
                requestValue = requestValueInput.value;
                syncButtonFunctionality()
              "
              id="request-amount-input"
              class="input-nostyle w-100"
              type="text"
              placeholder="0.0"
              [disabled]="
                !isAppReady ? 'disabled' : null
              "
            />
            <app-token-selector
              class="position-absolute end-0 bottom-0 me-3 mb-3"
              (onTokenSelected)="requestTokenSelected = $event; syncButtonFunctionality()"
              [isBalanceEnabled]="false"
            ></app-token-selector>
          </div>
        </div>
        <!-- end of request amount input -->

        <button
          class="btn btn-eboxprimary rounded-alot p-3"
          (click)="buttonFunction()"
          [disabled]="
            isButtonDisabled || (loadingIndicatorServ.isLoading$ | async)
              ? 'disabled'
              : null
          "
        >
          {{ buttonMessage }}
        </button>
      </div>
    </div>
    <!-- end of swapper -->
  </div>
</div>
