<div class="bg-eboxdark text-white p-3 rounded-alot mb-3">

  <div class="text-end mb-2">
    {{ voter.time * 1e3 | date: "short" }}
  </div>

  <div class="mb-2">
    <div class="fs-5 fw-bold mb-1">Address</div>
    <div class="text-truncate font-monospace">
      <a
        [href]="'https://etherscan.io/address/' + voter.address"
        target="_blank"
        class="text-reset"
      >
        {{ voter.address }}
      </a>
    </div>
  </div>
  <div *ngIf="isDetailedView" class="mb-3">
    <div class="fs-5 fw-bold mb-1">Signed message</div>
    <div class="text-truncate font-monospace">
      {{ voter.signed_msg }}
    </div>
  </div>

  <div
    *ngIf="isDetailedView"
    class="bg-white mx-auto p-3 rounded-alot text-center"
  >
    <div class="text-eboxprimary">
      <div class="mb-2">
        <div class="fs-5 fw-bold mb-1">Voted for</div>
        <div class="display-6 fw-bold">{{ alphabet[voter.vote - 1] }}</div>
      </div>
      <div>
        <div class="fs-5 fw-bold mb-1">Voting power</div>
        <div class="display-6 fw-bold">
          {{ voter.voting_power | toFixed: 0 }}
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="!isDetailedView"
    class="bg-white mx-auto p-3 rounded-alot text-center"
  >
    <div class="text-eboxprimary">
      <div>
        <div class="fs-5 fw-bold mb-1">Voting power</div>
        <div class="display-6 fw-bold">
          {{ voter.voting_power | toFixed: 0 }}
        </div>
      </div>
    </div>
  </div>
</div>
