<div class="box-wrapper position-relative">
  <!-- animated rainbow behind -->
  <div *ngIf="!box.taken && isBoxUnlocked" class="highlight"></div>
  <div
    class="bg-lightalpha rounded-alot"
    [class.shadow]="!box.taken"
    [class.text-muted]="box.taken"
    [class.bg-disabled]="box.taken"
  >
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between gap-3 p-3 position-relative">
      <div class="col-md-4 d-flex flex-column flex-md-row align-items-center">
        <img
          *ngIf="!box.taken && box.hasPrivacy"
          style="height: 64px"
          src="assets/img/box-privacy-close.png"
        />
        <img
          *ngIf="box.taken && box.hasPrivacy"
          style="height: 64px"
          src="assets/img/box-privacy-open.png"
        />
        <img
          *ngIf="!box.taken && !box.hasPrivacy && box.requestValue === '0'"
          style="height: 64px"
          src="assets/img/box-close.png"
        />
        <img
          *ngIf="box.taken && !box.hasPrivacy && box.requestValue === '0'"
          style="height: 64px"
          src="assets/img/box-open.png"
        />
        <img
          *ngIf="!box.taken && box.requestValue !== '0'"
          style="height: 64px"
          src="assets/img/boxes-exchange-close.png"
        />
        <img
          *ngIf="box.taken && box.requestValue !== '0'"
          style="height: 64px"
          src="assets/img/boxes-exchange-open.png"
        />
        <div class="ms-md-3 text-center text-md-start">
          <div class="fs-4">{{ box.requestValue !== "0" ? "OTC Trade" : "One-way" }} {{ box.hasPrivacy ? "Privacy" : "" }}</div>
          <small class="text-muted">
            <a
              class="stretched-link text-reset text-decoration-none"
              data-bs-toggle="collapse"
              [href]="'#box-collapse_' + box.timestamp"
              (click)="onBoxToggle()"
            >
              <i class="bi {{ isExpanded ? 'bi-arrows-collapse' : 'bi-arrows-expand' }}"></i>
              {{ isExpanded ? 'Collapse' : 'Expand' }}
            </a>
          </small>
        </div>
      </div>
      <div class="fs-5 font-monospace flex-grow-1">
        <div class="d-flex align-items-center justify-content-end gap-2">
          <span>
            {{ box.sendDecimalValue.length < 7 ? box.sendDecimalValue : box.sendDecimalValue.slice(0, 6) + '...' }}</span>
          <span class="fw-bold">
            {{ box.sendTokenInfo.symbol }}
          </span>
          <img
            [src]="box.sendTokenInfo.thumb"
            style="width: 1.5rem; height: 1.5rem">
        </div>
        <div *ngIf="box.requestValue !== '0'" class="d-flex align-items-center justify-content-end gap-2">
          <span>
            {{ box.requestDecimalValue.length < 7 ? box.requestDecimalValue : box.requestDecimalValue.slice(0, 6) + '...' }}</span>
          <span class="fw-bold">
            {{ box.requestTokenInfo.symbol }}
          </span>
          <img
            [src]="box.requestTokenInfo.thumb"
            style="width: 1.5rem; height: 1.5rem">
        </div>
      </div>
      <div class="col-md-4 text-center text-md-end">
        <div 
          *ngIf="!box.hasPrivacy"
          class="fs-4"
        >
          <ng-container *ngIf="box.addressBookName; else address">
            {{ box.addressBookName.slice(0, 17) }}
          </ng-container>
          <ng-template #address>
            {{ box.sender.slice(0, 8) }}...{{ box.sender.slice(-6) }}
          </ng-template>
        </div>
        <small class="text-muted">{{ box.readableTimestamp }}</small>
      </div>
    </div>

    <div class="collapse" [id]="'box-collapse_' + box.timestamp">
      <div class="p-3">

        <div class="d-grid gap-2 mb-3">
          <!-- mini header -->
          <div class="text-muted d-flex align-items-end justify-content-between px-3">
            <small>
              From:
              <span *ngIf="box.hasPrivacy">Private</span>
              <a
                *ngIf="!box.hasPrivacy"
                [href]="
                  contractServ.isEthereumMainnet()
                    ? 'https://etherscan.io/address/' + box.sender
                    : contractServ.isEthereumTestnet()
                      ? 'https://rinkeby.etherscan.io/address/' + box.sender
                      : contractServ.isBinanceMainnet()
                        ? 'https://bscscan.com/address/' + box.sender
                        : contractServ.isBinanceTestnet()
                          ? 'https://testnet.bscscan.com/address/' + box.sender
                          : contractServ.isMaticMainnet()
                            ? 'https://polygonscan.com/address/' + box.sender
                            : 'https://mumbai.polygonscan.com/address/' + box.sender
                "
                target="_blank"
                class="text-reset"
              >
                <span *ngIf="box.addressBookName; else address">
                  {{ box.addressBookName.slice(0, 11) }}
                </span>
                <ng-template #address>
                  {{ box.sender.slice(0, 8) }}...{{ box.sender.slice(-6) }}
                </ng-template>
              </a>
            </small>
            <small class="text-end">
              Your balance(s)
            </small>
          </div>
          <!-- end of mini header -->
  
          <!-- sent amount -->
          <div
            class="rounded-alot position-relative p-3"
            [class.text-white]="!box.taken"
            [class.bg-eboxdark]="!box.taken"
            [class.bg-completed]="box.taken"
            [class.text-muted]="box.taken"
          >
            <div class="lead">
              Value sent
            </div>
            <div class="fs-4">
              {{ box.sendDecimalValue }}
            </div>
            <div class="token-info-wrapper rounded-alot text-end">
              <div>
                {{ sendTokenBalance?.decimalValue | toFixed: 3 }}
              </div>
              <div class="d-flex align-items-center justify-content-end gap-2">
                {{ box.sendTokenInfo?.symbol }}
                <img
                  [src]="box.sendTokenInfo?.thumb"
                  style="width: 1.5rem; height: 1.5rem">
              </div>
              <div>
                <a
                  [href]="
                    contractServ.isEthereumMainnet()
                      ? 'https://etherscan.io/address/' + box.sendTokenInfo.address
                      : contractServ.isEthereumTestnet()
                        ? 'https://rinkeby.etherscan.io/address/' + box.sendTokenInfo.address
                        : contractServ.isBinanceMainnet()
                          ? 'https://bscscan.com/address/' + box.sendTokenInfo.address
                          : contractServ.isBinanceTestnet()
                          ? 'https://testnet.bscscan.com/address/' + box.sendTokenInfo.address
                          : contractServ.isMaticMainnet()
                            ? 'https://polygonscan.com/address/' + box.sendTokenInfo.address
                            : 'https://mumbai.polygonscan.com/address/' + box.sendTokenInfo.address
                  "
                  target="_blank"
                  class="text-reset text-break"
                >
                  {{ box.sendTokenInfo.address.slice(0, 8) }}...{{ box.sendTokenInfo.address.slice(-6) }}
                </a>
              </div>
            </div>
          </div>
          <!-- end of sent amount -->
  
          <!-- request amount -->
          <div
            class="rounded-alot position-relative p-3"
            [class.text-white]="!box.taken"
            [class.bg-eboxdark]="!box.taken"
            [class.bg-completed]="box.taken"
            [class.text-muted]="box.taken"
            *ngIf="box.requestValue !== '0'"
          >
            <div class="lead">
              Requested
            </div>
            <div class="fs-4">
              {{ box.requestDecimalValue }}
            </div>
            <div class="token-info-wrapper rounded-alot text-end">
              <div>
                {{ requestTokenBalance?.decimalValue | toFixed: 3 }}
              </div>
              <div class="d-flex align-items-center justify-content-end gap-2">
                {{ box.requestTokenInfo?.symbol }}
                <img
                  [src]="box.requestTokenInfo?.thumb"
                  style="width: 1.5rem; height: 1.5rem">
              </div>
              <div>
                <a
                  [href]="
                    contractServ.isEthereumMainnet()
                      ? 'https://etherscan.io/address/' + box.requestTokenInfo.address
                      : contractServ.isEthereumTestnet
                        ? 'https://rinkeby.etherscan.io/address/' + box.requestTokenInfo.address
                        : contractServ.isBinanceMainnet()
                          ? 'https://bscscan.com/address/' + box.requestTokenInfo.address
                          : contractServ.isBinanceTestnet()
                          ? 'https://testnet.bscscan.com/address/' + box.requestTokenInfo.address
                          : contractServ.isMaticMainnet()
                            ? 'https://polygonscan.com/address/' + box.requestTokenInfo.address
                            : 'https://mumbai.polygonscan.com/address/' + box.requestTokenInfo.address
                  "
                  target="_blank"
                  class="text-reset text-break"
                >
                  {{ box.requestTokenInfo.address.slice(0, 8) }}...{{ box.requestTokenInfo.address.slice(-6) }}
                </a>
              </div>
            </div>
          </div>
          <!-- end of request amount -->

          <!-- passphrase -->
          <div
            *ngIf="!box.taken"
            class="bg-eboxdark text-white rounded-alot position-relative p-3"
          >
            <div class="lead">
              Passphrase
            </div>
            <div class="fs-5">
              <input
                type="password"
                #passwordInput
                (input)="onPasswordInput(passwordInput.value)"
                [placeholder]="
                  isBoxUnlocked ? 'No passphrase needed' : 'Insert the passphrase'
                "
                [disabled]="isBoxUnlocked ? 'disabled' : null"
                class="flex-grow-1 w-100 input-nostyle"
                [class.text-muted]="isBoxUnlocked"
              />
            </div>
          </div>
          <!-- end of passphrase -->
        </div>

        <div *ngIf="!box.taken" class="text-end">
          <button
            *ngIf="!box.hasPrivacy"
            (click)="contractServ.acceptBox(box, password)"
            [disabled]="
              !isBoxUnlocked || (loadingIndicatorServ.isLoading$ | async)
                ? 'disabled'
                : null
            "
            class="col-12 col-md-auto btn btn-eboxprimary rounded-alot"
            [class.btn-eboxpulser]="isBoxUnlocked"
          >
            Accept box
          </button>
          <button
            *ngIf="box.hasPrivacy"
            (click)="contractServ.acceptBoxWithPrivacy(box, password)"
            [disabled]="
              !isBoxUnlocked || (loadingIndicatorServ.isLoading$ | async)
                ? 'disabled'
                : null
            "
            class="col-12 col-md-auto btn btn-eboxprimary rounded-alot"
            [class.btn-eboxpulser]="isBoxUnlocked"
          >
            Accept privacy box
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
