<ng-container *ngIf="!tokens; else selectorReady">
  <!-- initial state -->
  <button class="btn btn-eboxprimary rounded-alot w-100" disabled>
    <div *ngIf="isBalanceEnabled">–</div>
    <i class="bi bi-chevron-expand"></i> –
  </button>
</ng-container>
<ng-template #selectorReady>
  <!-- ready state -->
  <button
    *ngIf="!selectedToken"
    data-bs-toggle="modal"
    [attr.data-bs-target]="'#' + randomId"
    class="btn btn-eboxprimary rounded-alot w-100"
  >
    <div *ngIf="isBalanceEnabled">–</div>
    <i class="bi bi-chevron-expand"></i> Choose
  </button>
  <!-- selected state -->
  <button
    *ngIf="selectedToken"
    data-bs-toggle="modal"
    [attr.data-bs-target]="'#' + randomId"
    class="btn btn-eboxprimary rounded-alot w-100"
    [disabled]="(loadingIndicatorServ.isLoading$ | async) ? 'disabled' : null"
  >
    <ng-container *ngIf="isBalanceEnabled">
      <div *ngIf="isBalanceLoading">
        <div class="spinner-border spinner-border-sm"></div>
      </div>
      <div *ngIf="!isBalanceLoading">
        {{ selectedTokenBalance.decimalValue | toFixed: 3 }}
      </div>
    </ng-container>
    <div class="d-flex align-items-center justify-content-center gap-1 text-uppercase">
      <i class="bi bi-chevron-expand"></i>
      {{ selectedToken.symbol }}
      <img
        [src]="selectedToken.thumb"
        style="width: 1.5rem; height: 1.5rem">
    </div>
  </button>
</ng-template>

<div [id]="randomId" class="modal">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content rounded-alot" style="height: 90vh">
      <div class="modal-header">
        <div class="flex-grow-1">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <h5 class="modal-title">Tokens</h5>
              <small
                >There are {{ tokens?.length }} tokens, please use the
                search.</small
              >
            </div>
            <button class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <input
            #searchInput
            (input)="filterTokens(searchInput.value)"
            type="text"
            class="form-control rounded-alot"
            placeholder="Search in the list"
          />
        </div>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column justify-content-center align-items-center gap-3 mb-3">
          <button
            (click)="customTokenPrompt()"
            class="btn btn-outline-eboxprimary rounded-alot"
            >
            Add new token
            <i class="bi bi-plus-circle"></i>
          </button>
          <small class="text-muted">Select a token to show your balance</small>
        </div>
        <div
          *ngFor="let token of filteredTokens; trackBy: identifier"
          class="align-items-center btn-outline-eboxprimary border rounded-alot d-flex mb-3 p-3 position-relative"
        >
          <img
            class="flex-shrink-0 me-2"
            [src]="token.thumb"
            style="width: 2rem; height: 2rem">
          <div class="text-truncate">
            <h5>
              <a
                href="#"
                data-bs-dismiss="modal"
                (click)="selectToken(token)"
                class="stretched-link text-reset text-decoration-none"
              >
                {{ token.name }}
                <small class="text-uppercase">{{ token.symbol }}</small>
              </a>
            </h5>
            <ng-container *ngIf="token.address === '0x0000000000000000000000000000000000000000'; else showTokenAddress">
              <small>Network base token</small>
            </ng-container>
            <ng-template #showTokenAddress>
              <small>{{ token.address }}</small>
            </ng-template>
          </div>
        </div>
        <div class="text-center">
          <small *ngIf="tokens && tokens.length > 20" class="text-muted">Use the search to find more coins</small>
        </div>
      </div>
    </div>
  </div>
</div>
