#view-console-wrapper {
  top: 64px;
  width: 432px;
  max-width: 75vw;
  transform: translateX(-100%);
  transition: transform .3s ease;
}
#console-opening-trigger:checked + #view-console-wrapper {
  transform: translateX(0);
  z-index: 10;
}
#view-console-handle {
  bottom: 102px;
  transform-origin: 1rem;
  transform: translateY(-50%) rotateZ(90deg);
  background-color: #fff8;
  padding: 4px 15px;
  z-index: 100;
  user-select: none;
  cursor: pointer;
}
#view-console {
  background-image: linear-gradient(90deg, #ffff, #fff8);
  height: calc(100vh - 64px);
}