<input hidden id="console-opening-trigger" type="checkbox" #consoleOpeningCheckbox (input)="setConsoleShowState(consoleOpeningCheckbox)">
<div id="view-console-wrapper" class="position-fixed">
    <label for="console-opening-trigger" id="view-console-handle" class="position-absolute start-100 rounded-alot-top border-top border-dark">Console</label>
    <div id="view-console" class="px-3 pt-3 overflow-auto font-monospace text-break">
        <ul class="list-unstyled d-grid gap-2">
            <li
                *ngFor="let m of messages?.reverse()"
                [class.text-warning]="m.type === 'warn'"
                [class.text-danger]="m.type === 'err'"
            >
                <small class="text-info">{{m.timestamp | date: 'medium' }}</small><br>{{m.message}}
            </li>
        </ul>
    </div>
</div>
