#view-console-wrapper {
  width: 432px;
  max-width: 75vw;
  height: 100%;
  transform: translateX(-100%);
  transition: transform .3s ease;
}
#console-opening-trigger:checked + #view-console-wrapper {
  transform: translateX(0);
  z-index: 10;
}
#view-console-handle {
  top: calc(100vh - 128px);
  right: 100%;
  transform:
    translate(28px, -50%)
    rotateZ(-90deg);
  background-color: #fffa;
  padding: 4px 15px;
  z-index: 100;
  border-top: 1px solid #aaa;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
#view-console {
  background-image: linear-gradient(
    90deg,
    #fffa,
    #fffe
  );
  height: 100%;
}